# macOS
.DS_Store
.AppleDouble
.LSOverride

# Debug files
Debug/
debug/
*.o
*.a
*.so
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
build/
*.elf
*.bin
*.hex

# KiCad
.history/
*.kicad_pcb-bak
*.lck
*-backups/

# STM32CubeIDE workspace settings
.settings/